h1 {
  font-style: oblique;
  font-family: Arial;
  color: red;
  text-align: center;
}

h2 {
  font-style: Oblique;
  font-family: Arial;
  text-align: center;
}

h3 {
  text-align: left;
}

p {
  font-family: Arial; 
}

ul {
  font-family: Arial;
  font-size: 25px;
  line-height: 35px;
}

a {
  text-decoration: none;
}

body {
background-color: lightgoldenrodyellow;
}